.map-wrapper{
	float: left;
}
.map-wrapper img{
	float:left;
	width:100%;
}
ul.img-list {
	float: left;
	width: 100%;
    margin: 15px 0px;
    padding-right: 10px;
}
ul.img-list li {
    float: left;
    border-bottom: solid thin #ddd;
    width: 100%;
    padding-bottom: 15px;
}
ul.img-list li img{
    width: 125px;
    height: 100px;
    float: left;
    margin-right: 15px;
}
.img-list-img{
	float: left;
}
.img-list-content{
	float: left;
}
.img-list-content h3 a{
	float: left;
}
